<div class="badge">
    <div class="badge-part">
        <img src="[[BADGE_LEFT]]" alt="badge" />
        <div class="content">
            <span class="lastname">[[LASTNAME]]</span>
            <span class="firstname">[[FIRSTNAME]]</span>
            <span class="function">[[FUNCTION]]</span>
            <span class="event">[[EVENT]]</span>
        </div>
    </div>
    <div class="badge-part">
        <img src="[[BADGE_RIGHT]]" alt="badge" />
        <div class="content">
            <span class="lastname">[[LASTNAME]]</span>
            <span class="firstname">[[FIRSTNAME]]</span>
            <span class="function">[[FUNCTION]]</span>
            <span class="event">[[EVENT]]</span>
        </div>
    </div>
</div>