@font-face {
    font-family: BlanchCaps;
    src: url("../fonts/BLANCH_CAPS.otf");
}
* {
    font-family: sans-serif;
}
.badge {
    display: flex;
}
.badge .badge-part {
    position: relative;
    width: 170px;
    height: 240px;
}
.badge .badge-part img {
    max-width: 100%;
}
.badge .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.badge .content > span {
    color: #ffffff;
    display: block;
    text-align: center;
    -webkit-print-color-adjust: exact;
}
.badge .content > span.lastname {
    font-family: 'BlanchCaps', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 35px;
    margin-top: 20%;
}
.badge .content > span.firstname {
    font-family: 'BlanchCaps', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 25px;
}
.badge .content > span.function {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    margin-top: 7px;
}
.badge .content > span.event {
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 21%;
}
@media print {
    .badges .badge:nth-child(3n) {
        page-break-after: always;
    }
}